version: '3.8'

services:
  backend:
    build: ./Backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
      # שימי לב: תעתיקי לפה את המפתח האמיתי שלך במקום ה-XXX
      - GOOGLE_API_KEY=${GEMINI_API_KEY}
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend